# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages in Data Science
* List of popular libraries used by Data Scientists
* List of popular open source tools used in Data Science

Some of the popular languages that Data Scientists use are:

    1. Python
    2. Java
    3. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Numpy
    3. Matplotlib
    4. Scikit-learn
    5. TensorFlow

|Data Science Tools|
|------------------|
|MySQL|
|Apache SparkSQL|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
x=200
y=60
hours=x/y
print("200 minutes converted into hours is", hours, "hours")

200 minutes converted into hours is 3.3333333333333335 hours

In [8]:
#This will convert 200 minutes to hours by diving by 60 - simple one
200/60

3.3333333333333335

## Author:
Katarzyna Piechocka